{% if not currentUser and craft.app.request.segment(1) != 'login' and craft.app.request.segment(1) != 'forgotpassword' %}
	{% redirect 'login' %}
{% endif %}

{% if not title is defined %}
	{% set title = "Craft ID" %}
{% endif %}

{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ craft.app.locale.getOrientation() -%}

<html>
<head>
	<title>{{ title }}</title>

	{% do view.registerCssFile("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css") %}
	{% do view.registerCssFile("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css") %}

</head>
<body class="{{ bodyClass }}">

{{ beginBody() }}
{% block body %}{% endblock %}
{{ endBody() }}

</body>
</html>
