{% extends "_layouts/base" %}

{% do view.registerCssFile("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css") %}
{% do view.registerCssFile("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css") %}

{% do view.registerCssFile("/craftidresources/dist/css/site.css?v4") %}
{% do view.registerJsFile("/craftidresources/dist/js/site.js?v4") %}

{% set bodyClass = 'bg-light' %}

{% set config = craft.app.config.getConfigFromFile('craftid') %}

{% js at head %}
	window.craftIdUrl = "{{ config.craftIdUrl }}";
	window.currentUserId = {{ currentUser is defined and currentUser and currentUser.id ? currentUser.id : 'null'  }};

	window.Craft = {
		actionUrl:             "{{ actionUrl()|e('js') }}",
		username:              {{ currentUser is defined and currentUser ? ('"'~currentUser.username|e('js')~'"')|raw : 'null' }},
		remainingSessionTime:  {{ craft.app.user.getRemainingSessionTime() }},
		maxUploadSize:         {{ craft.io.getMaxUploadSize() }},

		{% if craft.app.config.general.enableCsrfProtection %}
			csrfTokenValue:        "{{ craft.app.request.getCsrfToken()|e('js') }}",
			csrfTokenName:         "{{ craft.app.config.general.csrfTokenName|e('js') }}",
		{% endif %}
	};
{% endjs %}

{% block body %}

	<div id="site">
		<div id="notifications-wrapper">
			<div id="notifications">
				{% for type in ['notice', 'error'] %}
					{% set message = craft.app.session.getFlash(type) %}

					{% if message %}
						<notification type="{{ type }}" message="{{ message }}"></notification>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		{% block content %}
			{{ content is defined ? content }}
		{% endblock %}
	</div>

{% endblock %}