{% extends "_layouts/base" %}

{% block body %}

	<div id="notifications-wrapper">
		<div id="notifications">
			{% for type in ['notice', 'error'] %}
				{% set message = craft.app.session.getFlash(type) %}
				{% if message %}
					<div class="notification {{ type }}">{{ message }}</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{% block content %}
		{{ content is defined ? content }}
	{% endblock %}

	{% do view.registerJsFile("//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js") %}

	{% js %}
		// Fade the notification out two seconds after page load

		var notificationDuration = 2000;
		var $notificationContainer = $('#notifications');

		var $errorNotifications = $notificationContainer.children('.error'),
		$otherNotifications = $notificationContainer.children(':not(.error)');

		$errorNotifications.delay(notificationDuration * 2).fadeOut();
		$otherNotifications.delay(notificationDuration).fadeOut();
	{% endjs %}

{% endblock %}