{% extends "_layouts/base" %}

{% do view.registerCssFile("/craftidresources/dist/css/site.css") %}
{% do view.registerJsFile("/craftidresources/dist/js/site.js") %}

{% set bodyClass = 'bg-light' %}

{% block body %}

	<div id="site">
		<div id="notifications-wrapper">
			<div id="notifications">
				{% for type in ['notice', 'error'] %}
					{% set message = craft.app.session.getFlash(type) %}

					{% if message %}
						<notification type="{{ type }}" message="{{ message }}"></notification>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		{% block content %}
			{{ content is defined ? content }}
		{% endblock %}
	</div>

{% endblock %}