{% extends "oauth-server/_layouts/cp" %}

{% set content %}
	<p>Connecting to id.craftcms.com…</p>
	<div class="spinner"></div>
	<p><a class="btn" href="{{ url('oauth-server/playground') }}">Cancel</a></p>

	{% js %}
		var parseFragmentString = function (value) {
			var
			// Object that holds names => values.
			params = {},
			// Get query string pieces (separated by &)
			pieces = value.split('&'),
			// Temporary variables used in loop.
			pair, i, l;

			// Loop through query string pieces and assign params.
			for (i = 0, l = pieces.length; i < l; i++) {
				pair = pieces[i].split('=', 2);
				// Repeated parameters with the same name are overwritten. Parameters
				// with no value get set to boolean true.
				params[decodeURIComponent(pair[0])] = (pair.length == 2 ?
				decodeURIComponent(pair[1].replace(/\+/g, ' ')) : true);
			}

			return params;
		};
	{% endjs %}

	{% js %}
		var fragmentString = window.location.hash.substr(1);
		var fragments = parseFragmentString(fragmentString);

		Craft.postActionRequest('oauth-server/playground/implicit-callback', fragments, $.proxy(function(response, textStatus)
		{
			if (textStatus == 'success' && response.error) {
				alert(response.error);
			}

			var redirectUrl = Craft.getCpUrl('oauth-server/playground');
			window.location.replace(redirectUrl);
		}, this));
	{% endjs %}
{% endset %}