

/* Grids */

.grid-plugins {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  color: #444;
  margin-bottom: 20px;

  .grid-box {
    @apply .border-b .py-6 .overflow-hidden;

    &.responsive-limit {
      @apply hidden;
    }
  }
}

.grid-plugins-4 {
  grid-template-columns: 1fr;
}


@media (min-width: 576px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr;
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .grid-box {
      &.responsive-limit {
        @apply block;
      }
    }
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


/* Layout */

.wrapper {
  @apply .flex .flex-col;
  padding-top: 61px;

  header {
    @apply .px-0 .py-3 .border-b .fixed .w-full .bg-white .pin-t .z-30;

    & > div {
      @apply .flex .justify-between;

      a.sidebar-toggle {
        @apply .ml-6 .self-center .text-grey-darker;
        width: 14px;
        text-align: center;
      }

      h2 {
        @apply .text-lg .self-center .pl-6;

        a {
          @apply .text-grey-darker;
        }
      }

      nav {
        @apply .self-center .hidden .mr-6;

        ul {
          @apply .list-reset;

          li {
            @apply .inline-block;

            &:not(:first-child) {
              @apply .ml-6;
            }
          }
        }
      }
    }
  }

  .main {
    @apply .flex .flex-col;

    .sidebar {
      @apply .px-6 .py-4 .hidden;

      &.showing-sidebar {
        @apply .block .fixed .pin .z-20 .overflow-y-auto;
        -webkit-overflow-scrolling: touch;
        top:60px;
      }

      nav {
        @apply .-mx-6 .px-6 .pb-4 .mb-4;
      }
    }

    .view {
      @apply .px-6 .py-4;
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    @apply .flex .absolute .pin;

    header {
      & > div {
        .sidebar-toggle {
          @apply .hidden;
        }

        h2 {
          @apply .w-64;
        }

        nav {
          @apply .block;
        }
      }
    }

    .main {
      @apply .flex-row .flex-1;

      .sidebar {
        @apply .w-64 .p-6 .overflow-auto .block .border-r;

        &.showing-sidebar {
          @apply .relative .pin-none;
          padding-top: 24px;
        }

        .nav {
          @apply .hidden;
        }
      }

      .view {
        @apply .flex-1 .py-6 .overflow-auto;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
  }
}

/* Sidebar */

.sidebar {
  @apply .bg-grey-lighter;

  h3 {
    @apply .mb-2 .mt-4;

    &.first {
      @apply .mt-0;
    }
  }

  ul {
    @apply .list-reset;

    li {
      a {
        @apply .block .py-2 .no-underline .-mx-6 .px-6 .text-grey-darker;

        img {
          @apply .align-middle;
        }

        &:hover {
          @apply .text-blue;
        }

        &.nuxt-link-active {
          @apply .bg-grey-light;
        }
      }
    }
  }
}
