

/* Grids */

.grid-plugins {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  color: #444;
  margin-bottom: 20px;

  .grid-box {
    @apply .border-b .py-6 .overflow-hidden;

    &.responsive-limit {
      @apply hidden;
    }
  }
}

.grid-plugins-4 {
  grid-template-columns: 1fr;
}


@media (min-width: 576px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr;
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .grid-plugins {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .grid-box {
      &.responsive-limit {
        @apply block;
      }
    }
  }
  .grid-plugins-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


/* Layout */

.xcontainer {
  @apply .w-full .mx-auto;
  padding: 0 2rem;
  max-width: 1440px;
}

.wrapper {
  .main {
    .sidebar {
      @apply .overflow-y-auto .pin .z-40;
      -webkit-overflow-scrolling: touch;

      &.sticky {
        @apply .sticky;
      }

      &.showing-sidebar {
        @apply .fixed;

        .sidebar-main {
          @apply .block;
        }
      }

      header {
        @apply .flex .sticky .pin .z-10 .px-6 .py-4 .bg-grey-lighter .border-b;

        a.sidebar-toggle {
          @apply .self-center .text-grey-darker .mr-4;
          width: 14px;
        }

        h2 {
          @apply .text-lg .self-center;

          a {
            @apply .text-grey-darker;
          }
        }
      }

      .sidebar-main {
        @apply .hidden .px-6 .py-4;
      }

      nav {
        @apply .-mx-6 .px-6 .pb-4 .mb-4;
      }
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    @apply .flex .flex-col .absolute .pin;

    header {
      @apply .-mb-6;
      border-bottom: 0;

      .sidebar-toggle {
        @apply .hidden;
      }
    }

    .main {
      @apply .flex .flex-row .flex-1;

      .sidebar {
        @apply .w-64 .overflow-auto .block .border-r;

        &.showing-sidebar {
          @apply .relative .pin-none;
        }
      }

      .view {
        @apply .flex-1 .overflow-auto;
      }
    }
  }
}

/* Sidebar */

.sidebar {
  @apply .bg-grey-lighter;

  h3 {
    @apply .mb-2 .mt-4;

    &.first {
      @apply .mt-0;
    }
  }

  ul {
    @apply .list-reset;

    li {
      a {
        @apply .block .py-2 .no-underline .-mx-6 .px-6 .text-grey-darker;

        img {
          @apply .align-middle;
        }

        &:hover {
          @apply .text-blue;
        }

        &.nuxt-link-active {
          @apply .bg-grey-light;
        }
      }
    }
  }
}
