.DS_Store
/vendor
/.idea
/.env
/node_modules/


# Elastic Beanstalk Files
.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/web/packages.json
/web/p
/config/license.key
