.DS_Store
/vendor
/.idea
/.env
/node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/web/packages.json
/web/p
/templates/test.twig
/web/test.php
/web/scratch.php
/.pgpass