@tailwind preflight;


/* HTML Basics */

body {
  @apply .leading-normal .bg-grey-lighter;
}

a {
  @apply .text-blue .no-underline;

  &:hover {
    @apply .text-blue-darker .underline;
  }
}

h4 {
  @apply .text-xl .mb-2;
}

h5 {
  @apply .text-lg .mb-2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  @apply .my-6 .border-t .border-grey-light;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input[type="text"],
input[type="password"],
input[type="tel"],
textarea {
  @apply .border .border-grey .p-2 .rounded .block .w-full;

  &:disabled,
  &[readonly] {
    @apply .bg-grey-lightest;
  }

  &.is-invalid {
    @apply .border-red;
  }
}

select {
  @apply .border .border-grey-light .bg-white;
  height: calc(2.25rem + 2px);
}

dl {
  @apply .mb-4;

  dt {
    @apply .font-bold;
  }
  dd {
    @apply .mb-3;
  }
}


/* Layout */

.app {
  @apply .flex .flex-col .h-screen .mx-auto;

  .content {
    @apply .flex-1 .flex;
    overflow: hidden;

    #sidebar {
      @apply .flex-1;
      max-width: 240px;
    }

    .main {
      @apply .flex-1 .p-6 .pl-0;
      overflow: auto;
    }
  }
}

@media (min-width: 576px) {

  /*.app {
    @apply .flex .flex-col .h-screen .mx-auto;

    .content {
      @apply .flex-1 .flex;
      overflow: hidden;

      #sidebar {
        @apply .flex-1;
        max-width: 240px;
      }

      .main {
        @apply .flex-1 .p-6 .pl-0;
        overflow: auto;
      }
    }
  }*/
}
  // @media (min-width: 768px) {

/* Header */

.header {
  @apply .flex .justify-between .bg-grey-lighter .border .border-grey-light .px-8 .py-4 .w-full;

  .navbar-brand {
    @apply .text-xl .text-black;
  }

  ul {
    @apply .list-reset;

    li {
      @apply .inline-block;

      a {
        @apply .block;
      }
    }
  }
}


/* Sidebar */

#sidebar .sidenav {
  @apply .px-8 .py-6;

  h5 {
    @apply .text-lg .mb-3;

    &:not(:first-child) {
      @apply .mt-4;
    }
  }

  ul {
    @apply .list-reset;

    li {
      a {
        @apply .block .text-grey-darker .px-0 .py-2 .rounded .no-underline;

        &:hover {
          @apply .text-black;
        }

        &.active {
          @apply .text-blue .font-bold;
        }

        &.disabled {
          @apply .text-grey;
        }
      }
    }
  }
}


/* Classes */

.table {
  border-collapse: collapse;

  @apply .w-full;

  th {
    text-align: inherit;
  }

  th, td {
    @apply .border-t .border-grey-light .p-3;

    &.thin {
      width: 0.01% !important;
    }
  }
}

.form-group {
  margin-bottom: 1rem;
}

.alert {
  @apply .p-4 .mb-6 .bg-grey-light .text-grey-darker .border .border-grey .rounded;
}

.img-thumbnail {
  @apply .border .border-solid .border-grey .p-1 .rounded .block .w-full;
}

.text-secondary {
  @apply .text-grey-dark;
}

.card-element {
  @apply .border .border-grey-light .px-3 .py-2;
}

.invalid-feedback {
  @apply .text-red .text-sm .mt-2 .mb-4;
}

.plugin-icon {
  width: 36px;
  height: 36px;
}

.instructions {
  color: #8f98a3;
}

.text-secondary {
  @apply .text-grey-dark;
}

/* Notifications */

#notifications-wrapper {
  left: 0;
  position: fixed;
  z-index: 101;
  width: 100%;
  pointer-events: none;

  #notifications {
    @apply .text-center;

    .notification {
      @apply .inline-block;

      padding: 5px 10px;
      border-radius: 0 0 3px 3px;
      border-width: 0 1px 1px;
      color: #fff !important;
      pointer-events: auto;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

      &.notice {
        @apply .bg-blue;
      }

      &.success {
        @apply .bg-green;
      }

      &.error {
        @apply .bg-red;
      }
    }
  }
}


/* Spinner */

.spinner {
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height:24px;
  background: url(../images/spinner.gif) no-repeat 50% 50%;
}
.spinner.big {
  width: 48px;
  height: 48px;
  background: url(../images/spinner_big.gif) no-repeat 50% 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .spinner {
    background-image: url(../images/spinner_2x.gif);
    background-size: 20px;
  }
  .spinner.big {
    background-image: url(../images/spinner_big_2x.gif);
    background-size: 48px;
  }
}


/* Modals */

.modal {
  @apply .fixed .pin .block;
  background: rgba(0,0,0,0.7);

  .modal-dialog {
    @apply .w-auto .max-w-sm .mx-auto .my-8;
  }

  .modal-content {
    @apply .flex .flex-col .bg-white .rounded;
    border: 1px solid rgba(0,0,0,.2);
  }
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}


/* Vue Transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.quick-fade-enter-active, .quick-fade-leave-active {
  transition: opacity 0s;
}

.quick-fade-enter, .quick-fade-leave-to {
  opacity: 0;
}


/* Buttons */

.btn {
  @apply .inline-block .py-2 .px-4 .rounded .no-underline;

  &:hover {
    @apply .no-underline;
  }
}

.btn-blue,
.btn-primary {
  @apply .bg-blue .text-blue-lightest;
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;


  &:hover {
    @apply .bg-blue .text-white;
    box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 5px rgba(0, 0, 0, 0.2);
  }
}

.btn-outline-red,
.btn-outline-danger {
  @apply .text-red .bg-white;
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;

  &:hover {
    @apply .text-red-dark;
    box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 5px rgba(0, 0, 0, 0.2);
  }
}

.btn-outline-grey,
.btn-outline-secondary {
  @apply .border .border-grey-dark .text-grey-dark .bg-white;

  &:hover {
    @apply .bg-grey-dark .text-white;
  }
}

.btn-red,
.btn-danger {
  @apply .bg-red .text-white;

  &:hover {
    @apply .bg-red-dark .text-white;
  }
}
.btn-grey {
  @apply .bg-grey-dark .text-white;

  &:hover {
    @apply .bg-grey-darker .text-white;
  }
}

.btn-secondary {
  @apply .bg-white .text-grey-darker;
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in;

  &:hover {
    @apply .text-black;
    box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 5px rgba(0, 0, 0, 0.3);
  }
}

/* Badges */

.badge {
  @apply .inline-block .px-2 .py-1 .rounded .text-sm;
}

.badge-success {
  @apply .bg-green .text-white;
}


/* Card */

.card {
  @apply .border .border-grey-light .bg-white .rounded;

  .card-header {
    @apply .px-6 .py-4 .bg-grey-lightest .border-b .border-grey-light;
  }

  .card-body {
    @apply .p-6;
  }
}

.card-danger {
  @apply .border .border-red;

  .card-header {
    @apply .bg-red .text-white .bg-red;
  }
}

.card-table {
  table {
    th {
      @apply .bg-grey-lightest .border-t-0 .px-6 .py-3;
    }

    td {
      @apply .p-6;
    }
  }
}

.card-empty {
  @apply .flex .items-center justify-center;
  min-height: 500px;

  .card-body {
    @apply .text-center .text-grey-dark .py-8;
  }
}


/* Nav pills */

.nav-pills {
  @apply .list-reset .flex;

  li {
    a {
      @apply .px-2 .text-grey-darker .inline-block;

      &:hover {
        @apply .text-black .no-underline;
      }

      &.active {
        @apply .text-blue .font-bold;
      }
    }
  }
}


/* List group */

.list-group {
  @apply .flex .flex-col;

  .list-group-item {
    @apply .border .border-grey-light .px-4 .py-3;

    margin-bottom: -1px;
  }
}

@tailwind utilities;
