@import 'common';

.auth-manager-modal {
  .modal-body {
    padding: 24px;
    padding-left: 76px;

    & > i.fa {
      float: left;
      margin: -6px 0 0 -58px;
      font-size: 40px;
      color: #b9bfc6;
    }
  }
}
