th[align="right"] {
  text-align: right;
}

.plugin-icon {
  max-width: 40px;
  max-height: 40px;
}

.plugin-price {
  white-space: nowrap;
}

.plugin-renewal-price {
  color: #999;
  font-style: italic;
}
