Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-craftcom-bootstrap"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private aws-eb key
  /home/ec2-user/.ssh/id_rsa:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: $(/opt/elasticbeanstalk/bin/get-config environment -k PRIVATE_KEY_REMOTE_PATH)
  # Public aws-eb key
  /home/ec2-user/.ssh/id_rsa.pub:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: $(/opt/elasticbeanstalk/bin/get-config environment -k PUBLIC_KEY_REMOTE_PATH)
  # Private oauth-server key
  /home/ec2-user/oauth-server:
    mode: "000600"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: $(/opt/elasticbeanstalk/bin/get-config environment -k OAUTH_PRIVATE_KEY_REMOTE_PATH)
  # Public oauth-server key
  /home/ec2-user/oauth-server.pub:
    mode: "000600"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: $(/opt/elasticbeanstalk/bin/get-config environment -k OAUTH_PUBLIC_KEY_REMOTE_PATH)
