commands:
  01-composer:
    command: export COMPOSER_HOME=/root
  02-phpmem:
    command: sed -i 's/memory_limit = 128M/memory_limit = 512M/g' /etc/php.ini

option_settings:
  "aws:elasticbeanstalk:application:environment"
    COMPOSER_HOME: /root
  "aws:elasticbeanstalk:container:php:phpini":
    memory_limit: 512M
    max_execution_time: 180