files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        LoadModule mpm_worker_module modules/mod_mpm_worker.so
        ServerLimit         1024
        StartServers        100
        MaxRequestWorkers   512
        MinSpareThreads     100
        MaxSpareThreads     300
        ThreadsPerChild     25