files:
  "/tmp/loggly_config.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      su --command="python /tmp/configure-syslog.py setup --auth $LOGGLY_KEY --account $LOGGLY_ACCOUNT --yes"

container_commands:
  01_loggly_dl:
    command:
      wget -q -O /tmp/configure-syslog.py https://www.loggly.com/install/configure-syslog.py
  02_loggly_config:
    command: /tmp/loggly_config.sh