files:
  "/etc/cron.d/monitor":
    mode: "000644"
    owner: root
    group: root
    content: |
      */5 * * * * ~/aws-scripts-mon/mon-put-instance-data.pl --mem-used-incl-cache-buff --mem-util --disk-space-util --disk-path=/ --from-cron
commands:
  01-curl:
    command: "cd ~/ && curl https://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.2.zip -O"
  02-unzip:
    command: "cd ~/ && unzip CloudWatchMonitoringScripts-1.2.2.zip && rm CloudWatchMonitoringScripts-1.2.2.zip && cd aws-scripts-mon"
  03-remove:
    command: "rm -f /etc/cron.d/*.bak"