files:
  "/etc/cron.d/monitor":
    mode: "000644"
    owner: root
    group: root
    content: |
      */5 * * * * /opt/elasticbeanstalk/eb_infra/aws-scripts-mon/mon-put-instance-data.pl --mem-used-incl-cache-buff --mem-util --disk-space-util --disk-path=/ --from-cron
commands:
  01-remove:
    command: "rm -f /etc/cron.d/*.bak"