files:
 "/opt/elasticbeanstalk/hooks/appdeploy/post/98_create_symlinks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      EB_WORKER=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EB_WORKER')
      rm -rf /var/app/current/storage-web
      rm -rf /var/app/current/storage-worker
      rm -rf /var/app/current/web/cpresources

      if [ -z ${EB_WORKER} ]
      then
            ln -sf /efs/storage-web /var/app/current/storage
      else
            ln -sf /efs/storage-worker /var/app/current/storage
      fi

      ln -sf /efs/cpresources /var/app/current/web/cpresources
      sudo chown -h webapp:webapp /var/app/current/storage-web
      sudo chown -h webapp:webapp /var/app/current/storage-worker
      sudo chown -h webapp:webapp /var/app/current/web/cpresources
