files:
 "/opt/elasticbeanstalk/hooks/appdeploy/post/98_create_symlinks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown webapp:webapp /efs/cpresources
      chown webapp:webapp /efs/storage
      chown webapp:webapp /efs/composer
      rm -rf /var/app/current/storage
      rm -rf /var/app/current/web/cpresources
      ln -sf /efs/storage /var/app/current/storage
      ln -sf /efs/cpresources /var/app/current/web/cpresources
      ln -sf /efs/composer /var/app/current/web/composer
      chown webapp:webapp /var/app/current/storage
      chown webapp:webapp /var/app/current/web/cpresources
