files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      mv -f /home/ec2-user/oauth-server /var/app/current/config/keys/oauth-server
      mv -f /home/ec2-user/oauth-server.pub /var/app/current/config/keys/oauth-server.pub
commands:
  set_path:
    test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
    command: echo 'export PATH=$PATH:/var/app/current' >> /root/.bash_profile