files:
  "/etc/httpd/conf.d/vhost.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
      NameVirtualHost *:80

      <VirtualHost *:80>
        ServerName id.craftcms.com
        ServerAlias id.craftcms.com
        DocumentRoot "/var/app/current/web"
        <Directory "/var/app/current/web">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>

      <VirtualHost *:80>
        ServerName api.craftcms.com
        ServerAlias api.craftcms.com
        DocumentRoot "/var/app/current/web"
        <Directory "/var/app/current/web">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>

      <VirtualHost *:80>
        ServerName composer.craftcms.com
        ServerAlias composer.craftcms.com
        DocumentRoot "/efs/composer"
        <Directory "/efs/composer">
          Options -Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>

      <VirtualHost *:80>
        ServerName staging.api.craftcms.com
        ServerAlias staging.api.craftcms.com
        DocumentRoot "/var/app/current/web"
        <Directory "/var/app/current/web">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>

      <VirtualHost *:80>
        ServerName staging.id.craftcms.com
        ServerAlias staging.id.craftcms.com
        DocumentRoot "/var/app/current/web"
        <Directory "/var/app/current/web">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>
