Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-craftcom-bootstrap"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key 1
  /home/ec2-user/.ssh/id_rsa_github_1:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/id_rsa_github_1
  # Private key 2
  /home/ec2-user/.ssh/id_rsa_github_2:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/id_rsa_github_2
  # Public key 1
  /home/ec2-user/.ssh/id_rsa_github_1.pub:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/id_rsa_github_1.pub
  # Public key 2
  /home/ec2-user/.ssh/id_rsa_github_2.pub:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/id_rsa_github_2.pub
