Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-craftcom-bootstrap"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private aws-eb key
  /home/ec2-user/.ssh/id_rsa:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/aws-eb
  # Public aws-eb key
  /home/ec2-user/.ssh/id_rsa.pub:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/aws-eb.pub
  # Private oauth-server key
  /var/app/current/config/keys/oauth-server:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/oauth-server
  # Public oauth-server key
  /var/app/current/config/keys/oauth-server.pub:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-craftcom-bootstrap/keys/oauth-server.pub
