{% extends "_layouts/elementindex" %}
{% set title = "Plugins"|t('app') %}
{% set elementType = 'craftnet\\plugins\\Plugin' %}

{% block actionButton %}
    <a href="{{ url('plugins/new') }}" class="btn submit">{{ 'New plugin'|t('app') }}</a>
{% endblock %}
