{% if not currentUser %}
	{% redirect 'login' %}
{% endif %}

<html>
<head>
	<title>Craft ID</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="/vue/dist/css/main.css" />
</head>
<body>

<div id="app">
	<app v-if="!loading" :notification="notification"></app>
</div>

<script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
    window.craftActionUrl = "{{ actionUrl() }}";
    window.craftIdUrl = "{{ craft.app.config.general.craftIdUrl }}";
    window.craftApiUrl = "{{ craft.app.config.general.craftApiUrl }}";
    window.currentUserId = "{{ currentUser.id }}";
    window.stripeAccessToken = {{ stripeAccessToken ? stripeAccessToken.attributes|json_encode|raw : 'false' }};
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="/vue/dist/js/main.js"></script>

</body>
</html>