{% extends "_layouts/base" %}

{% do view.registerCssFile("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css") %}
{% do view.registerCssFile("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css") %}
{% do view.registerJsFile("//js.stripe.com/v3/") %}
{% do view.registerJsFile("/craftidresources/dist/js/app.js?v5") %}
{% do view.registerCssFile("/craftidresources/dist/css/app.css?v5") %}


{% set config = craft.app.config.getConfigFromFile('craftid') %}

{% js at head %}
	window.craftIdUrl = "{{ config.craftIdUrl }}";
	window.currentUserId = {{ currentUser is defined and currentUser and currentUser.id ? currentUser.id : 'null'  }};
	window.stripeAccessToken = {{ stripeAccessToken ? stripeAccessToken.attributes|json_encode|raw : 'false' }};
	window.stripePublishableKey = {{ stripePublishableKey|json_encode|raw }};

	window.Craft = {
	actionUrl:             "{{ actionUrl()|e('js') }}",
	username:              {{ currentUser is defined and currentUser ? ('"'~currentUser.username|e('js')~'"')|raw : 'null' }},
	remainingSessionTime:  {{ craft.app.user.getRemainingSessionTime() }},
	maxUploadSize:         {{ craft.io.getMaxUploadSize() }},

	{% if craft.app.config.general.enableCsrfProtection %}
		csrfTokenValue:        "{{ craft.app.request.getCsrfToken()|e('js') }}",
		csrfTokenName:         "{{ craft.app.config.general.csrfTokenName|e('js') }}",
	{% endif %}
	};
{% endjs %}


{% block body %}

	{# Silent session message #}
	{% for type in ['notice', 'error'] %}
		{% set message = craft.app.session.getFlash(type) %}
	{% endfor %}

	<div id="app">
		<app ref="app" :loading="loading" :notification="notification"></app>
	</div>

{% endblock %}
