{% extends "_layouts/base" %}

{% block body %}

	{% for type in ['notice', 'error'] %}
		{% set message = craft.app.session.getFlash(type) %}
		{# Silent message #}
	{% endfor %}

	{% set config = craft.app.config.getConfigFromFile('craftid') %}

	<div id="app">
		<app :loading="loading" :notification="notification"></app>
	</div>

	<script type="text/javascript">
        window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
        window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
        window.craftActionUrl = "{{ actionUrl() }}";
        window.craftIdUrl = "{{ config.craftIdUrl }}";
        window.currentUserId = "{{ currentUser.id }}";
        window.stripeAccessToken = {{ stripeAccessToken ? stripeAccessToken.attributes|json_encode|raw : 'false' }};
	</script>

	{% do view.registerJsFile("//js.stripe.com/v3/") %}
	{% do view.registerJsFile("/craftidresources/dist/js/main.js") %}
{% endblock %}
