/* HTML Basics */

* {
  min-height: 0;
}

body {
  @apply .leading-normal .bg-grey-lighter;
}

a {
  @apply .text-blue .no-underline;

  &:hover {
    cursor: pointer;
    @apply .text-blue-darker .underline;
  }
}

h1 {
  @apply .text-2xl .mb-6 .text-grey-darkest;

  a {
    @apply .text-grey;

    &:hover {
      @apply .text-grey-darker .no-underline;
    }
  }
}

h2 {
  @apply .text-xl .mb-2;
}

h4 {
  @apply .text-xl .mb-2;
}

h5 {
  @apply .text-lg .mb-2;
}

h6 {
  @apply .text-base .mb-2;
}

p {
  @apply .mt-0 .mb-2;
}

hr {
  @apply .my-6 .border-t .border-grey-light;
}

form {
  @apply .m-0;
}

dl {
  @apply .mb-4;

  dt {
    @apply .font-bold;
  }
  dd {
    @apply .mb-3;
  }
}

th {
  text-align: inherit;
}
