/* Classes */

.responsive-content {
  overflow-x: auto;
}

.flex-container {
  @apply .flex-1 .flex;
}

.table {
  @apply .w-full .leading-normal;
  border-collapse: collapse;

  th, td {
    @apply .border-t .border-grey-light .p-3;

    &.thin {
      width: 0.01% !important;
    }
  }

  td.icon-col {
    width: 0.01% !important;

    img {
      width: 40px;
      height: 40px;
      max-width: none;
    }
  }

  td.name-col {
    min-width: 220px;
  }

  td.date-col {
    min-width: 200px;
  }
}

.text-secondary {
  @apply .text-grey-dark;
}

/* Notifications */

#notifications-wrapper {
  @apply .fixed .pin-l .w-full .pointer-events-none;
  z-index: 101;

  #notifications {
    @apply .text-center;

    .notification {
      @apply .inline-block .pointer-events-auto;

      padding: 5px 10px;
      border-radius: 0 0 3px 3px;
      color: #fff !important;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

      &.notice {
        @apply .bg-blue;
      }

      &.success {
        @apply .bg-blue;
      }

      &.error {
        @apply .bg-red;
      }
    }
  }
}


/* Alerts */

.alert {
  @apply .p-4 .mb-4 .rounded .border .border-grey .bg-grey-light .text-grey-darker;
}

.alert-info {
  @apply .bg-blue-lighter .border-blue-light .text-blue-darker;
}

.alert-warning {
  @apply .bg-orange-lighter .border-orange-light .text-orange-darker;
}

.img-thumbnail {
  @apply .border .border-solid .border-grey .p-1 .rounded .block .w-full;
}


/* Vue Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  @apply .opacity-0;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition: opacity 0s;
}

.quick-fade-enter, .quick-fade-leave-to {
  @apply .opacity-0;
}

.fade {
  @apply .opacity-0;
  transition: opacity .15s linear;
}
