/* Classes */

.responsive-content {
  overflow-x: auto;
}

.table {
  @apply .w-full .leading-normal;
  border-collapse: collapse;

  th, td {
    @apply .border-t .border-grey-light .p-3;

    &.thin {
      width: 0.01% !important;
    }
  }

  td.icon-col {
    width: 0.01% !important;

    img {
      width: 40px;
      height: 40px;
      max-width: none;
    }
  }

  td.name-col {
    min-width: 220px;
  }

  td.date-col {
    min-width: 200px;
  }
}

.alert {
  @apply .p-4 .mb-4 .rounded .border .border-grey .bg-grey-light .text-grey-darker;
}

.alert-info {
  @apply .bg-blue-lighter .border-blue-light .text-blue-darker;
}

.alert-warning {
  @apply .bg-orange-lighter .border-orange-light .text-orange-darker;
}

.img-thumbnail {
  @apply .border .border-solid .border-grey .p-1 .rounded .block .w-full;
}

.text-secondary {
  @apply .text-grey-dark;
}

.text-secondary {
  @apply .text-grey-dark;
}


/* Vue Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  @apply .opacity-0;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition: opacity 0s;
}

.quick-fade-enter, .quick-fade-leave-to {
  @apply .opacity-0;
}

.fade {
  @apply .opacity-0;
  transition: opacity .15s linear;
}


/* Auth Manager Modal */

.auth-manager-modal {
  .modal-body {
    padding: 24px;
    padding-left: 76px;

    & > svg {
      float: left;
      margin: -6px 0 0 -58px;
      width: 40px;
      height: 40px;
      color: #b9bfc6;
    }
  }
}


/* Flex container */

.flex-container {
  @apply .flex-1 .flex;
}

