.app {
  @apply .fixed .pin .flex .flex-col;


  /* Header container */

  .header-container {
    @apply .bg-grey-lighter .border-b .border-grey-light .w-full;

    .header {
      @apply .flex .justify-between .px-6 .py-3 .items-center;

      .header-left {
        @apply .flex .items-center;

        #sidebar-toggle {
          @apply .mr-4 .text-grey-darker .text-center;
          width: 14px;

          &:hover {
            @apply .text-black;
          }
        }
      }

      .header-brand {
        a {
          @apply .text-lg .text-grey-darker .font-bold;

          &:hover {
            @apply .no-underline .text-black;
          }
        }
      }

      .actions-right {
        @apply .ml-4;

        ul {
          @apply .list-reset .flex .items-center;

          li {
            @apply .block .ml-3;

            & > a {
              @apply .block .text-grey-darker;

              &:hover {
                @apply .cursor-pointer .text-black;
              }
            }
          }
        }
      }
    }
  }


  /* Content container */

  .content-container {
    @apply .flex-1 .flex;


    /* Sidebar */

    #sidebar {
      @apply .hidden;

      .sidenav {
        @apply .py-6;

        h5 {
          @apply .relative .text-base .mb-2 .text-grey-darker .px-6;

          a {
            @apply .text-grey-darker .block;

            &:hover {
              @apply .no-underline;
            }

            &.disabled {
              @apply .text-grey;
            }
          }

          svg {
            width: 13px;
            margin-right: 5px;
            /*@apply .hidden;*/
          }
          //
          //svg {
          //  @apply .absolute .pin-l;
          //  top: 3px;
          //  width: 13px;
          //}

          &:not(:first-child) {
            @apply .mt-4;
          }
        }

        ul {
          @apply .list-reset;
          /*margin-left: 24px;*/

          li {
            a {
              @apply .block .text-grey-darker .px-6 .py-2 .no-underline;
              padding-left: 46px;

              &:hover {
                @apply .text-black;
              }

              &.active {
                @apply .bg-grey-light;
              }

              &.disabled {
                @apply .text-grey;
              }
            }
          }
        }
      }
    }


    /* Main */

    .main {
      @apply .flex-1 .overflow-auto .px-8 .py-6;

      .main-content {
        @apply .mx-auto;
        max-width: 1440px;
      }
    }
  }
}

@media (max-width: 767px) {

  .app {
    .content-container {
      #sidebar {
        &.showing-sidebar {
          @apply .block .bg-grey-lighter .absolute .pin .z-10;
          top: 61px;
        }
      }
    }
  }

}

@media (min-width: 768px) {

  .app {
    .header-container {
      .header {
        .header-left {
          #sidebar-toggle {
            @apply .hidden;
          }
        }
      }
    }

    .content-container {
      #sidebar {
        @apply .w-64 .block .border-r;
      }
    }
  }

}


/* Popover */

.popover {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
  z-index: 20;

  .popover-arrow {
    width: 50px;
    height: 16px;
    position: absolute;
    top: -16px;
    right: 5px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 100%;
      left: 50%;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    }
  }
}


/* Global menu */

.global-menu {
  @apply .relative;

  .toggle {
    @apply .text-lg .p-2 .rounded-full;
  }

  .popover {
    top: 48px;
    right: -13px;

    .popover-arrow {
      right: 5px;
    }
  }
}


/* User menu */

.user-menu {
  @apply .relative;

  .toggle {
    &:hover {
      @apply .cursor-pointer;
    }

    img {
      @apply .rounded-full;
      width: 36px;
    }
  }

  .popover {
    top: 48px;
    right: -12px;

    .popover-arrow {
      right: 5px;
    }
  }
}
