.app {
  @apply .fixed .pin .flex .flex-col;


  /* Header */

  .header {
    @apply .flex .justify-between .px-6 .py-3 .items-center .border-b .border-grey-light;

    &-left {
      @apply .flex .items-center;

      #sidebar-toggle {
        @apply .mr-4 .text-grey-darker .text-center;
        width: 14px;

        &:hover {
          @apply .text-black;
        }
      }
    }

    &-brand {
      a {
        @apply .text-lg .text-grey-darker .font-bold;

        &:hover {
          @apply .no-underline .text-black;
        }
      }
    }

    &-right {
      & > ul > li > a {
        @apply .text-grey-darker;

        &:hover {
          @apply .text-black;
        }
      }
    }
  }

  /* Sidebar */

  .sidebar {
    @apply .hidden .py-6 .overflow-auto;

    h5 {
      @apply .relative .text-base .mb-2 .text-grey-darker .px-6;

      a {
        @apply .text-grey-darker .block;

        &:hover {
          @apply .no-underline;
        }

        &.disabled {
          @apply .text-grey;
        }
      }

      svg {
        width: 13px;
        margin-right: 5px;
      }

      &:not(:first-child) {
        @apply .mt-4;
      }
    }

    ul {
      @apply .list-reset;

      li {
        a {
          @apply .block .text-grey-darker .px-6 .py-2 .no-underline;
          padding-left: 47px;

          &:hover {
            @apply .text-black;
          }

          &.active {
            @apply .bg-grey-light;
          }

          &.disabled {
            @apply .text-grey;
          }
        }
      }
    }
  }


  /* Main */

  .main {
    @apply .flex-1 .overflow-auto .px-8 .py-6 .bg-white;

    .main-content {
      @apply .mx-auto;
      max-width: 1440px;

      .top-alert {
        @apply .-mx-8 .-mt-6 .rounded-none .px-8 .mb-6;
        border: 0;
      }
    }
  }
}

@media (max-width: 767px) {

  .app {
    .sidebar {
      &.showing-sidebar {
        @apply .block .bg-white .absolute .pin .z-10;
        top: 61px;
      }
    }
  }

}

@media (min-width: 768px) {

  .app {
    .header {
      &-left {
        #sidebar-toggle {
          @apply .hidden;
        }
      }
    }

    .sidebar {
      @apply .w-64 .block .border-r;
    }
  }

}


/* Flex container */

.flex-container {
  @apply .flex-1 .flex;
}


/* Popover */

.popover {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
  z-index: 20;

  .popover-arrow {
    width: 50px;
    height: 16px;
    position: absolute;
    top: -16px;
    right: 5px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 100%;
      left: 50%;
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
    }
  }
}

/* Cart menu */

.cart-menu {
  a {
    @apply .relative;

    .badge {
      @apply .rounded-full .leading-none .absolute .border .border-grey-lighter .border-2 .text-xs .bg-red;
      padding: 2px 6px;
      top: -12px;
      right: -20px;
    }
  }
}

/* Global menu */

.global-menu {
  @apply .relative;

  .toggle {
    @apply .text-lg .p-2 .rounded-full;
  }

  .popover {
    top: 48px;
    right: -13px;

    .popover-arrow {
      right: 5px;
    }
  }
}


/* User menu */

.user-menu {
  @apply .relative;

  .toggle {
    @apply .bg-grey-light .rounded-full;
    width: 36px;
    height: 36px;

    &:hover {
      @apply .cursor-pointer;
    }

    img {
      @apply .rounded-full;
      width: 36px;
    }
  }

  .popover {
    top: 48px;
    right: -12px;

    .popover-arrow {
      right: 5px;
    }
  }
}
