{% extends '_layouts/site' %}

{% block content %}

    <div class="container mx-auto max-w-md p-6">
        <div class="p-6 text-center">
            <img src="/craftnetresources/id/dist/images/craftid.svg" width="80" />
        </div>

        <div class="card">
            <div class="card-body">
                <form method="POST" class="p-3 m-0">
                    {{ csrfInput() }}
                    <input type="hidden" name="redirect" value="{{ craft.app.request.url|hash }}" />

                    <p><strong>The following authorizations are required:</strong></p>

                    <div class="align-left">
                        <ul>
                            {% for scope, description in scopes %}
                                <li>
                                    <div class="description">{{ description }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <p class="text-secondary"><small>By clicking “Approve” you allow this application and id.craftcms.com to use your data according to our terms of services.</small></p>

                    <div>
                        <label>
                            <input name="rememberMe" type="checkbox" value="1" /> Remember Me for 30 days
                        </label>
                    </div>

                    <div class="mt-4 float-right">
                        <input class="btn btn-secondary" type="submit" name="deny" value="Deny" />
                        <input class="btn btn-primary" type="submit" name="approve" value="Approve" />
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <div class="text-center p-3 text-secondary">
            <p class="ssl-status"><i class="fa {{ craft.app.request.isSecureConnection ? "fa-lock" : "fa-unlock" }}"></i> {{ craft.app.request.isSecureConnection ? "Your connection is secure"|t : "Your connection is insecure"|t }}</p>
        </div>
    </div>

{% endblock %}