<IfModule mod_headers.c>
  Header set X-Frame-Options "SAMEORIGIN"
  Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Force SSL for all requests
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} !=localhost
  RewriteCond %{HTTP_HOST} !=127.0.0.1
  RewriteCond %{REMOTE_ADDR} !=127.0.0.1
  RewriteCond %{REMOTE_ADDR} !=::1
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

  # Send would-be 404 requests to Craft
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
  RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>