<!doctype html>
{% do view.registerAssetBundle('craft\\web\\assets\\cp\\CpAsset') -%}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>P&T Plugin for Front</title>
    <meta name="description" content="Front integration for P&T">
    <meta name="author" content="Luke Holder">

    {% css %}
    {% endcss %}

    {% includeJsFile "https://dl.frontapp.com/libs/frontjs.min.js" %}
    {% includeCssFile "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" %}
</head>
<body>
<!-- Three columns -->
<div class="flex mb-4">
    <div class="w-1/5"></div>
    <div class="w-3/5">
        {% block container %}
        {% endblock %}
    </div>
    <div class="w-1/5"></div>
</div>
</body>
</html>