{% extends 'front-module/_layout' %}

{% block container %}

    {% set buttonClasses = "block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2 w-full" %}
    {% set warningButtonClasses = "block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded my-2 w-full" %}

    <div class="mt-3">
        <div class="flex">
            <div class="w-2/5">
                <h2>License information</h2>
            </div>
            <div class="w-1/5">
                <div id="load-spinner"class="hidden" >{% include 'front-module/_spinner' %}</div>
            </div>
            <div class="w-2/5">
                <button class="{{ warningButtonClasses }}" onclick="loadLicense()" id="loadLicense">
                <span>Auto-fill</span>
                </button>
            </div>
        </div>
        <textarea class="p-2 w-full overflow-hidden font-mono whitespace-no-wrap" cols="50" rows="5"
                  placeholder="Paste Key Here" id="licenseKey"></textarea>
        <input type="text" class="my-2 p-1 w-full" rows="4" placeholder="Paste Email Here" id="email"/>
        <input type="text" class="my-2 p-1 w-full" rows="4" placeholder="Paste Domain Here" id="domain"/>
        <button id="getLicense" class="{{ buttonClasses }}" onclick="checkLicense()">Check</button>
    </div>

    <div class="mt-3">
        <div id="result-spinner" class="hidden" >{% include 'front-module/_spinner' %}</div>
        <div id="results-meta"></div>
        <pre id="results">
        </pre>
    </div>


    {% js %}
    function clearEverything() {
        document.getElementById('results').innerText = '';
        document.getElementById('results-meta').innerText = '';
    }

    function loadLicense() {
        if (loading) {
            return;
        }

        loading = true;
        clearEverything();
        document.getElementById('loadLicense').classList.toggle('opacity-50');
        document.getElementById('loadLicense').classList.toggle('cursor-not-allowed');
        document.getElementById('load-spinner').classList.toggle('hidden');

        var data = frontData;

        // TODO: obviously, uncomment
        //conversationId = data.conversation.id;
        conversationId = "cnv_1e0jtzn";

        Craft.postActionRequest('front-module/front/scrub-conversation', {conversationId: conversationId}, function(response) {
            document.getElementById('loadLicense').classList.toggle('opacity-50');
            document.getElementById('loadLicense').classList.toggle('cursor-not-allowed');
            document.getElementById('load-spinner').classList.toggle('hidden');
            loading = false;

            console.log(response);

            if (response.licenseKey) {
                document.getElementById('licenseKey').value = response.licenseKey;
                checkLicense();
            }
            if (response.email) {
                document.getElementById('email').value = response.email;
            }
        });

    }

    function loadEmail(data) {
        var message = data.otherMessages.length ? data.otherMessages[0] : data.message;

        return message.from.handle;
    }

    function checkLicense() {

        if (loading) {
            return;
        }

        loading = true;
        clearEverything();
        document.getElementById('getLicense').classList.toggle('opacity-50');
        document.getElementById('getLicense').classList.toggle('cursor-not-allowed');
        document.getElementById('result-spinner').classList.toggle('hidden');

        console.log('Checking license for ' + document.getElementById('licenseKey').value);
        var data = {
            key: document.getElementById('licenseKey').value,
            email: document.getElementById('email').value,
            domain: document.getElementById('domain').value
        };

        Craft.postActionRequest('front-module/front/get-license-info', data, function(response) {
            document.getElementById('getLicense').classList.toggle('opacity-50');
            document.getElementById('getLicense').classList.toggle('cursor-not-allowed');
            document.getElementById('result-spinner').classList.toggle('hidden');
            loading = false;

            console.log(response);

            if (response.error) {
                document.getElementById('results').innerText = JSON.stringify(response.error, null, '\t');
            }

            if (response.success) {
                document.getElementById('results-meta').innerText = 'Found: '+response.count;
                document.getElementById('results').innerText = JSON.stringify(response.licenses, null, '\t');
            }
        });
    }

    function checkEmail() {
        console.log('Checking email for ' + document.getElementById('email').value);
    }

    var frontData;
    var loading = false;

    Front.on('conversation', function(data) {
        frontData = data;
    });

    {% endjs %}

{% endblock %}