{% extends 'front-module/_layout' %}

{% block container %}


    {% set buttonClasses = "block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2 w-full" %}
    {% set warningButtonClasses = "block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded my-2 w-full" %}

    <div class="mt-3">
        <h2>License information</h2>
        <textarea class="p-2 w-full overflow-hidden font-mono whitespace-no-wrap" cols="50" rows="5"
                  placeholder="Paste Key Here" id="licenseKey"></textarea>
        <input type="text" class="p-2 w-full" rows="4" placeholder="Paste Email Here" id="email"/>
        <button id="getLicense" class="{{ buttonClasses }}" onclick="checkLicense()">Check</button>
    </div>

    <div class="mt-3">
        <h2>Load license data</h2>
        <button class="{{ warningButtonClasses }}" onclick="loadLicense()" id="loadLicense">
            <span>Check ticket for license key</span>
        </button>
    </div>

    <div class="mt-3">
        <pre id="results" class="">
        </pre>
    </div>


    {% js %}

    function loadLicense() {
        if (loading) {
            return;
        }

        loading = true;
        document.getElementById('loadLicense').classList.toggle('opacity-50');
        document.getElementById('loadLicense').classList.toggle('cursor-not-allowed');

        var data = frontData;

        // TODO: obviously, uncomment
        //conversationId = data.conversation.id;
        conversationId = "cnv_1e0jtzn";

        Craft.postActionRequest('front-module/front/scrub-conversation', {conversationId: conversationId}, function(response) {
            document.getElementById('loadLicense').classList.toggle('opacity-50');
            document.getElementById('loadLicense').classList.toggle('cursor-not-allowed');
            loading = false;

            console.log(response);

            if (response.licenseKey) {
                document.getElementById('licenseKey').value = response.licenseKey;
            }
            if (response.email) {
                document.getElementById('email').value = response.email;
            }
        });

    }

    function loadEmail(data) {
        var message = data.otherMessages.length ? data.otherMessages[0] : data.message;

        return message.from.handle;
    }

    function checkLicense() {

        if (loading) {
            return;
        }

        loading = true;
        document.getElementById('loadLicense').classList.toggle('opacity-50');
        document.getElementById('loadLicense').classList.toggle('cursor-not-allowed');

        console.log('Checking license for ' + document.getElementById('licenseKey').value);
        Craft.postActionRequest('front-module/front/get-license-info', {key: document.getElementById('licenseKey').value}, function(response) {
            document.getElementById('getLicense').classList.toggle('opacity-50');
            document.getElementById('getLicense').classList.toggle('cursor-not-allowed');
            loading = false;

            console.log(response);

            if (response.error) {
                document.getElementById('results').innerText = JSON.stringify(response.error, null, '\t');
            }

            if (response.success) {
                document.getElementById('results').innerText = JSON.stringify(response.license, null, '\t');
            }
        });
    }

    function checkEmail() {
        console.log('Checking email for ' + document.getElementById('email').value);
    }

    var frontData;
    var loading = false;

    Front.on('conversation', function(data) {
        frontData = data;
    });

    {% endjs %}

{% endblock %}