<!doctype html>

{% do view.registerAssetBundle('craft\\web\\assets\\cp\\CpAsset') -%}

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Front for P&T</title>
    <meta name="description" content="Front integration for P&T">
    <meta name="author" content="Luke Holder">

    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        h3 {
            text-align: center;
        }
        textarea {
            display: block;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2px;
        }
        button {
            display: block;
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2px;
        }
    </style>

    <script src="https://dl.frontapp.com/libs/frontjs.min.js"></script>
</head>
<body>
    <h3>Check license</h3>
    <textarea rows="4" placeholder="Paste Key Here" id="licenseKey"></textarea>
    <button onclick="loadLicense()">Scrub for license key</button>
    <button onclick="checkLicense()">Check</button>

    <h3>Check license by email</h3>
    <textarea rows="4" placeholder="Paste Email Here" id="email"></textarea>
    <button onclick="checkEmail()">Check</button>

    <script type="application/javascript">
        function loadLicense() {
            var data = frontData;

            //conversationId = data.conversation.id;
            conversationId = "cnv_1e0jtzn";

            Craft.postActionRequest('front-module/front/scrub-conversation', {conversationId: conversationId}, function (response) {
                console.log(response);
            });

        }

        function loadEmail(data) {
            var message = data.otherMessages.length ? data.otherMessages[0] : data.message;

            return message.from.handle;
        }

        function checkLicense () {
            console.log('Checking license for ' + document.getElementById('licenseKey').value);
        }

        function checkEmail () {
            console.log('Checking email for ' + document.getElementById('email').value);
        }

        var frontData;
        Front.on('conversation', function(data) {
            frontData = data;
            document.getElementById('email').value = loadEmail(data);
        });

    </script>

</body>
</html>